<h1>🎯 Cyber Training</h1>

<p>{{ question }}</p>

<form method="POST">
    <button name="answer" value="click" {% if answered %}disabled{% endif %}>Click Link</button>
    <button name="answer" value="ignore" {% if answered %}disabled{% endif %}>Ignore</button>
    <button name="answer" value="report" {% if answered %}disabled{% endif %}>Report</button>
</form>
<br>

{% if result %}
    <h2>{{ result }}</h2>
    <p>{{ explanation }}</p>

    <!-- NEXT BUTTON -->
    <form method="POST">
        <button name="action" value="next">Next Question ➡️</button>
    </form>

    <br>

    <!-- HOME BUTTON -->
    <a href="/">
        <button>🏠 Home</button>
    </a>
{% endif %}

<p>Score: {{ score }}</p>